select{
    width: 100%;
    height: 38px;
    border: 2.5px solid var(--tertiary__color);
    background: var(--tertiary__color__transparent);
    padding: 5px 20px;
    color: var(--quaternary__color);
    font-size: var(--input__size);
    font-weight: var(--input__weight);
}